$main-color: #00ac95;

header {
    background-color: #00ac95;
}

.menu {
    padding: 30px;

    &-items {
        &__wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &-item {
            &>a {
                color: #000;

            }
        }
    }
}