$main-color: #00ac95;

header {
    background-color: #00ac95;
}

.menu {
    padding: 10px 0px;

    &__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &-logo {
        &__wrapper {
            &>a {
                &>svg {
                    width: 50px;
                    height: auto;

                    &>g>path {
                        transition: all 0.3s;
                        fill: #fff
                    }
                }

                &:hover {
                    &>svg {
                        &>g>path {
                            fill: #000
                        }
                    }
                }
            }
        }
    }

    &-items {
        width: 100%;

        &__wrapper {
            text-align: center;

            &>a {
                font-size: 20px;
                transition: all 0.3s;

                &:hover {
                    color: #000;
                }
            }
        }
    }

    &-icons {
        &__wrapper {
            display: flex;
            flex-direction: row;
            gap: 30px;
            align-items: center;
        }
    }

    &-icon {

        &__log {
            font-size: 20px;
        }

        &__log,
        &__favorite,
        &__cart {

            display: block;
            align-items: center;
            width: auto;
            transition: all 0.3s;

            &>svg {
                width: 30px;
                height: auto;

                &>path {
                    fill: #fff;
                    transition: all 0.3s;
                }

            }

            &:hover {
                color: #000;

                &>svg {
                    &>path {
                        fill: #000;
                    }

                }
            }
        }

        &__favorite,
        &__cart {
            position: relative;

            &::after {
                position: absolute;
                top: -15px;
                right: -15px;
                display: block;
                content: '3';
                width: 15px;
                height: 15px;
                background-color: #fff;
                color: $main-color;
                border-radius: 50%;
                border: 3px solid $main-color;
                text-align: center;
                font-family: "Comfortaa";
                font-size: 16px;
                font-weight: bold;
                padding: 5px;
            }
        }

        &__cart {

            &::after {
                content: '6';
            }
        }
    }

    &-hamburger {
        display: flex;
        flex-direction: column;
        gap: 7px;
        display: none;

        &>span {
            content: '';
            display: block;
            width: 45px;
            height: 4px;
            background-color: #fff;
            border-radius: 50%;
        }
    }
}

.footer {
    background-color: $main-color;
    padding: 50px;

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;
    }

    &-logo {
        &>a {
            &>svg {
                width: 100px;
                height: auto;

                &>g>path {
                    transition: all 0.3s;
                    fill: #fff
                }
            }

            &:hover {
                &>svg {
                    &>g>path {
                        fill: #000
                    }
                }
            }
        }
    }

    &-menu {
        &>ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            gap: 50px;

            &>li {}
        }
    }
}