h {
    &2 {
        @media screen and (max-width: 1200px) {
            font-size: 25px;
        }
    }

    &3 {
        @media screen and (max-width: 1200px) {
            font-size: 22px;
        }
    }

    &4 {
        @media screen and (max-width: 1200px) {
            font-size: 18px;
        }
    }
}

.menu {
    @media screen and (max-width: 768px) {
        padding: 10px 10px;
    }

    &-items {
        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    &-icons {
        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    &-hamburger {
        @media screen and (max-width: 768px) {
            display: flex;
        }
    }
}

.cars {

    @media screen and (max-width: 768px) {
        padding: 30px 10px;
    }

    &-head {
        &__wrapper {
            @media screen and (max-width: 992px) {
                flex-direction: column;
                gap: 15px;
            }
        }
    }

    &-catalog {
        &__wrapper {
            @media screen and (max-width: 768px) {
                padding: 30px 0px;
            }
        }
    }

    &-sort {
        &__wrapper {
            @media screen and (max-width: 576px) {
                display: none;
            }
        }
    }

    &-filters {
        @media screen and (max-width: 1200px) {
            max-width: 25%;
        }

        @media screen and (max-width: 992px) {
            max-width: 35%;
        }

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    &-cards {
        @media screen and (max-width: 768px) {
            max-width: 100%;
        }

        &__wrapper {
            grid-template-rows: auto;
            gap: 20px;

            @media screen and (max-width: 1200px) {
                grid-template-columns: auto auto;
            }

            @media screen and (max-width: 992px) {
                grid-template-columns: auto;
            }
        }
    }
}

.auth__wrapper {
    @media screen and (max-width: 992px) {
        display: flex;
        flex-direction: column;
        padding: 30px 10px;
    }
}

.reg,
.enter {
    @media screen and (max-width: 992px) {
        max-width: 100%;
    }

    &__wrapper {
        @media screen and (max-width: 576px) {
            padding: 20px;
        }
    }

    &-name,
    &-email,
    &-pas,
    &-pas2,
    &-btn {

        &>input,
        &--auth {
            @media screen and (max-width: 576px) {
                max-width: 75%;
            }

            @media screen and (max-width: 320px) {
                max-width: 50%;
            }
        }
    }
}

.order {
    &__wrapper {
        @media screen and (max-width: 576px) {
            padding: 30px 10px;
        }
    }

    &-name__items,
    &-phone,
    &-email,
    &-date,
    &-btn {

        @media screen and (max-width: 576px) {
            max-width: 100%;
        }

        &>input {
            @media screen and (max-width: 576px) {
                max-width: 75%;
            }

            @media screen and (max-width: 320px) {
                max-width: 50%;
            }
        }
    }

    &-delivery,
    &-pay,
    &-person {
        &__items {
            @media screen and (max-width: 576px) {
                flex-direction: column;
            }
        }
    }
}