* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$btn-open-color-text: #000;
$btn-open-color-bg: #00ac95;
$btn-open-color-active-text: #fff;
$btn-open-color-active-bg: #6380ff;
$btn-open-color-hover-text: rgb(0, 0, 0);
$btn-open-color-hover-bg: rgb(223, 134, 0);
// $btn-cart-color-text: #000;
// $btn-cart-color-bg: #fff;
$card-color-bg: #fff;
$card-color-border: #00ac95;
$card-color-text: #ffffff;

body {
    background-color: #292929;
}

.comfortaa {
    &-300 {
        font-family: "Comfortaa", serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 300;
    }

    &-400 {
        font-family: "Comfortaa", serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 400;
    }

    &-500 {
        font-family: "Comfortaa", serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 500;
    }

    &-700 {
        font-family: "Comfortaa", serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 700;
    }
}

h {
    &1 {
        font-size: 40px;
    }

    &2 {
        font-size: 30px;
        color: #00ac95;
    }

    &3 {
        font-size: 25px;
        color: #fff;
    }

    &4 {
        font-size: 20px;
    }
}

p,
a,
button {
    font-size: 16px;
    text-decoration: none;
}

a,
button {
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
}

.offers {
    padding-top: 60px;
}

.product-cards {

    padding-top: 60px;

    &-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        // gap: 10px;
    }
}

.product-card {
    // border: 3px $card-color-border solid;
    // box-shadow: 0px 0px 10px 2px $card-color-border;
    box-shadow: inset 0px 0px 10px 2px $card-color-border;
    border-radius: 20px;
    padding: 20px;
    max-width: auto;
    margin: 0 10px 0 10px;

    &:first-child {
        margin: 0 10px 0 0;
    }

    &:last-child {
        margin: 0 0 0 10px;
    }

    h3 {
        text-align: center;
    }

    &-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__text {
        text-align: center;
        color: $card-color-text
    }

    &__buttons {
        display: flex;
        gap: 20px;
        flex-direction: column;

        button {
            padding: 10px 10px 10px 10px;
            border: 0;
            border-radius: 20px;
            color: $btn-open-color-text;
            background-color: $btn-open-color-bg;
            transition: 0.3s;

            &:active {
                color: $btn-open-color-active-text;
                background-color: $btn-open-color-active-bg;
            }

            &:hover {
                color: $btn-open-color-hover-text;
                background-color: $btn-open-color-hover-bg;
                font-weight: 700;
            }
        }
    }
}