@font-face {
  font-family: "Comfortaa";
  src: url("/fonts/Comfortaa/Comfortaa.ttf") format("ttf"), url("/fonts/Comfortaa.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  color: #fff;
}

body {
  background-color: #292929;
  position: relative;
}

.comfortaa-300 {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
}
.comfortaa-400 {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}
.comfortaa-500 {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}
.comfortaa-700 {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
  color: #00ac95;
}
h3 {
  font-size: 25px;
  color: #fff;
}
h4 {
  font-size: 20px;
  color: #00ac95;
}

p,
a,
button {
  font-size: 16px;
  text-decoration: none;
}

a,
button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

img {
  width: 100%;
  height: auto;
}

input {
  cursor: pointer;
}
input:valid {
  background-color: #00ac95;
  color: #000;
}
input:invalid {
  background-color: rgb(255, 151, 151);
  border: 2px solid red;
}

input[type=radio],
input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #00ac95;
  transition: all 0.2s;
  cursor: pointer;
}
input[type=radio]:checked,
input[type=checkbox]:checked {
  transform: scale(0.5);
  background-color: #00ac95;
  outline: 3px solid #00ac95;
  outline-offset: 10px;
}
input[type=radio]:disabled,
input[type=checkbox]:disabled {
  border: rgb(119, 119, 119) solid 2px;
}
input[type=radio]:disabled:checked,
input[type=checkbox]:disabled:checked {
  transform: scale(0.5);
  background-color: rgb(119, 119, 119);
  outline: 2px solid rgb(119, 119, 119);
  outline-offset: 10px;
}

input[type=range] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 10px;
  margin: 10px 0;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #00ac95;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  background-color: #00ac95;
  border-radius: 50px;
}
input[type=range].cars-filters__range-slider {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(var(--ratio) * 100%);
}
input[type=range].cars-filters__range-slider::-webkit-slider-runnable-track, input[type=range].cars-filters__range-slider::-moz-range-track {
  background: #00ac95 0/var(--sx) 100% no-repeat, transparent;
}
input[type=range]:focus {
  outline: 2px solid white;
  outline-offset: 5px;
  cursor: pointer;
}

input[type=radio] {
  border-radius: 50%;
}

input[type=checkbox] {
  border-radius: 5px;
}
input[type=checkbox]:checked {
  border-radius: 3px;
}

.cars {
  padding-top: 60px;
  padding-bottom: 60px;
}
.cars-head__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cars-sort__wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: end;
}
.cars-sort-btn {
  background-color: transparent;
  border: #00ac95 2px solid;
  border-radius: 7px;
  padding: 5px;
}
.cars-sort-btn option {
  background-color: #00ac95;
}
.cars-catalog__wrapper {
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.cars-filters__items {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.cars-filters__colors-items, .cars-filters__hp-items, .cars-filters__gearbox-items, .cars-filters__volume-items, .cars-filters__doors-items, .cars-filters__volume-bag-items, .cars-filters__price-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}
.cars-filters__colors-item, .cars-filters__hp-item, .cars-filters__gearbox-item, .cars-filters__volume-item, .cars-filters__doors-item, .cars-filters__volume-bag-item, .cars-filters__price-item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.cars-filters__colors-items {
  flex-direction: row;
  flex-wrap: wrap;
}
.cars-filters__colors-item {
  flex-shrink: 0;
}
.cars-filters__colors-checkbox {
  display: none;
}
.cars-filters__colors-checkbox:checked + .cars-filters__colors-label {
  outline: 2px #00ac95 solid;
  outline-offset: 2px;
}
.cars-filters__colors-label {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  outline: #00ac95 0px solid;
  outline-offset: 0px;
  transition: all 0.2s;
}
.cars-filters__colors-label:hover, .cars-filters__colors-label:focus {
  outline: #00ac95 2px solid;
  outline-offset: 2px;
  cursor: pointer;
}
.cars-filters__colors-label:active {
  outline-offset: 20px;
}
.cars-filters__range {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}
.cars-filters__range-values {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cars-cards__wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto;
  gap: 20px;
}
.cars-cards-pagination {
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: end;
}
.cars-cards-pagination > button {
  display: block;
  font-size: 20px;
  color: #fff;
  background-color: #00ac95;
  border: 2px transparent solid;
  border-radius: 10px;
  padding: 5px 20px 5px 20px;
  transition: 0.2s;
}
.cars-cards-pagination > button:hover {
  background-color: transparent;
  border: 2px #00ac95 solid;
  color: #00ac95;
}
.cars-card__wrapper {
  padding: 20px;
  border: 3px #00ac95 solid;
  border-radius: 15px;
}
.cars-card__img {
  padding: 20px 0 0 0;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cars-card__stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0 0 0;
}
.cars-card__stats-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cars-card__stats-text > p {
  text-align: start;
  padding: 5px 0 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
}
.cars-card__price {
  padding: 20px 0 0 0;
  color: #fff;
}
.cars-card__price > p {
  font-size: 24px;
}
.cars-card__buttons {
  padding: 20px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cars-card__buttons-open {
  display: block;
  font-size: 20px;
  color: #000;
  background-color: #00ac95;
  border: 2px transparent solid;
  border-radius: 10px;
  padding: 5px 20px 5px 20px;
  transition: 0.2s;
}
.cars-card__buttons-open:hover {
  background-color: transparent;
  border: 2px #00ac95 solid;
  color: #00ac95;
}
.cars-card__buttons-favorite {
  background-color: transparent;
  width: 30px;
}
.cars-card__buttons-favorite > svg {
  width: 100%;
  height: auto;
  display: flex;
}
.cars-card__buttons-favorite > svg > path {
  fill: #fff;
  transition: all 0.2s;
}
.cars-card__buttons-favorite:hover > svg > path {
  fill: red;
}

.cart-wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: end;
  padding-top: 60px;
  padding-bottom: 60px;
}
.cart-items {
  padding: 20px;
  border: 3px #00ac95 solid;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 20px;
}
.cart-items__price {
  font-size: 30px;
}
.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.cart-item__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.cart-item__info > img {
  height: auto;
  width: 200px;
}
.cart-item__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart-item__text > h3 {
  color: #00ac95;
}
.cart-item__text > p {
  color: #999999;
}
.cart-item__price {
  font-size: 20px;
}
.cart-item__control {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.cart-item__control > svg {
  height: 30px;
  width: auto;
  fill: #00ac95;
  cursor: pointer;
}
.cart-item__control:hover {
  fill: #fff;
}
.cart-btn {
  padding: 10px 40px;
  background-color: #00ac95;
  border-radius: 10px;
  border: 2px transparent solid;
  transition: all 0.2s;
}
.cart-btn:hover {
  background-color: transparent;
  border: 2px #00ac95 solid;
  color: #00ac95;
}

.car {
  padding-top: 60px;
}
.car__wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.car-info {
  height: 100%;
}
.car-info__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.car-info__text {
  display: flex;
  flex-direction: column;
}
.car-info__text {
  gap: 10px;
}
.car-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.car-btns__buy {
  padding: 10px 40px;
  background-color: #00ac95;
  border-radius: 10px;
  border: 2px transparent solid;
  transition: all 0.2s;
}
.car-btns__buy:hover {
  background-color: transparent;
  border: 2px #00ac95 solid;
  color: #00ac95;
}
.car-btns__like > svg {
  height: 30px;
  width: auto;
}
.car-btns__like > svg > path {
  fill: #fff;
}
.car-swiper {
  display: flex;
  flex-direction: row;
  height: 500px;
  width: auto;
}
.car-swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.car-swiper-slide > img {
  height: 100%;
  width: auto;
}
.car-swiper-btn-prev, .car-swiper-btn-next {
  color: #00ac95;
}

.related {
  padding: 60px 0;
}
.related__wrapper > h2 {
  padding-bottom: 30px;
}
.related-swiper {
  display: flex;
  flex-direction: row;
}
.related-swiper__wrapper {
  width: auto;
}
.related-swiper-btn-prev, .related-swiper-btn-next {
  color: #00ac95;
}
.related-swiper-btn-prev::after, .related-swiper-btn-next::after {
  font-size: 25px;
}
.related-card {
  padding: 20px;
  border: #00ac95 3px solid;
  border-radius: 15px;
  height: auto;
}
.related-card__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.related-card__img {
  display: flex;
  justify-content: center;
}
.related-card__img > img {
  height: 190px;
  width: auto;
}
.related-card__stats {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.related-card__stats-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.related-card__price > p {
  font-size: 24px;
}

.order__wrapper {
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  text-align: center;
}
.order-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.order-phone-inp, .order-email-inp, .order-date-inp {
  padding: 10px;
  border-radius: 10px;
  border: #00ac95 2px solid;
  background-color: transparent;
  width: 500px;
  font-size: 16px;
  color: #fff;
}
.order-phone-inp::-webkit-calendar-picker-indicator, .order-email-inp::-webkit-calendar-picker-indicator, .order-date-inp::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.order-name, .order-phone, .order-email, .order-delivery, .order-date, .order-pay, .order-person, .order-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.order-name__items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.order-name__item {
  padding: 10px;
  border-radius: 10px;
  border: #00ac95 2px solid;
  background-color: transparent;
  width: 500px;
  font-size: 16px;
}
.order-delivery__items, .order-pay__items, .order-person__items {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.order-delivery__item, .order-pay__item, .order-person__item {
  padding: 10px;
  border: #00ac95 2px solid;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.order-btn > input {
  background-color: #00ac95;
  padding: 10px;
  border: transparent 2px solid;
  border-radius: 10px;
  width: 500px;
  margin-top: 30px;
  transition: all 0.2s;
  font-size: 16px;
  color: #fff;
}
.order-btn > input > a {
  font-size: 20px;
}
.order-btn > input:hover {
  background-color: transparent;
  border: 2px #00ac95 solid;
  color: #00ac95;
}

.auth__wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 60px;
}

.reg__wrapper,
.enter__wrapper {
  border: #00ac95 2px solid;
  border-radius: 15px;
  padding: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
  align-items: center;
}

.reg-text, .enter-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.reg-items, .enter-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reg-name,
.reg-email,
.reg-pas,
.reg-pas2,
.enter-name,
.enter-email,
.enter-pas,
.enter-pas2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.reg-name > input,
.reg-email > input,
.reg-pas > input,
.reg-pas2 > input,
.enter-name > input,
.enter-email > input,
.enter-pas > input,
.enter-pas2 > input {
  padding: 10px;
  border-radius: 10px;
  border: #00ac95 2px solid;
  background-color: transparent;
  font-size: 16px;
  color: #fff;
  width: 350px;
}

.reg-btn--auth, .enter-btn--auth {
  padding: 10px;
  background-color: #00ac95;
  width: 350px;
  border-radius: 10px;
  border: transparent 2px solid;
  font-size: 16px;
  color: #fff;
  transition: all 0.2s;
}
.reg-btn--auth:hover, .enter-btn--auth:hover {
  background-color: transparent;
  border: 2px #00ac95 solid;
  color: #00ac95;
}
.reg-btn > input, .enter-btn > input {
  padding: 10px;
  background-color: #00ac95;
  width: 350px;
  border-radius: 10px;
  border: transparent 2px solid;
  font-size: 16px;
  color: #fff;
  transition: all 0.2s;
}
.reg-btn > input:hover, .enter-btn > input:hover {
  background-color: transparent;
  border: 2px #00ac95 solid;
  color: #00ac95;
}/*# sourceMappingURL=style.css.map */