@font-face {
    font-family: "Comfortaa";
    src: url("/fonts/Comfortaa/Comfortaa.ttf") format("ttf"), url("/fonts/Comfortaa.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

$main-color: #00ac95;

body {
    background-color: #292929;
}

.comfortaa {
    &-300 {
        font-family: "Comfortaa", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 300;
    }

    &-400 {
        font-family: "Comfortaa", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 400;
    }

    &-500 {
        font-family: "Comfortaa", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 500;
    }

    &-700 {
        font-family: "Comfortaa", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 700;
    }
}

h {
    &1 {
        font-size: 40px;
    }

    &2 {
        font-size: 30px;
        color: $main-color;
    }

    &3 {
        font-size: 25px;
        color: #fff;
    }

    &4 {
        font-size: 20px;
    }
}

p,
a,
button {
    font-size: 16px;
    text-decoration: none;
}

a,
button {
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

img {
    width: 100%;
    height: auto;
}

.cars {
    padding-top: 60px;

    &-catalog {

        &__wrapper {
            padding-top: 60px;
            display: flex;
            flex-direction: row;
        }
    }

    &-cards {
        &__wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            // border: 3px $main-color solid;
            // border-radius: 20px;
            gap: 20px;
        }
    }

    &-card {
        &__wrapper {
            padding: 20px;
            border: 3px $main-color solid;
            border-radius: 20px;
        }

        &__img {
            padding: 20px 0 0 0;
            height: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__stats {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 20px 0 0 0;

            &-text {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &>p {
                    text-align: start;
                    padding: 5px 0 5px 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    color: #fff;
                }
            }
        }

        &__price {
            padding: 20px 0 0 0;
            color: #fff;

            &>p {
                font-size: 24px;
            }
        }

        &__buttons {
            padding: 20px 0 0 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &-open {
                display: block;;
                font-size: 20px;
                color: #fff;
                background-color: $main-color;
                border: 3px transparent solid;
                border-radius: 20px;
                padding: 5px 20px 5px 20px;
                transition: 0.2s;

                &:hover {
                    background-color: transparent;
                    border: 3px $main-color solid;
                    color: $main-color;
                }
            }

            &-favorite {
                background-color: transparent;
                width: 30px;

                &>svg {
                    width: auto;
                    height: 100%;
                    display: flex;

                    &>path {
                        fill: #fff;
                        transition: all 0.2s;
                    }
                }

                &:hover > svg > path {
                    fill: red;
                }
            }
        }
    }
}